.nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  background: #333;
  a {
    padding: 0 20px;
    text-decoration: none;
    font-size: 14px;
    color: #999;
    &.current {
      color: #fff;
    }
  }
}
